[Unit]
Description=BIRDwatcher IPv4
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/opt/birdwatcher/birdwatcher/bin/birdwatcher -config /etc/birdwatcher/birdwatcher.conf

[Install]
WantedBy=multi-user.target
